# --- Compiled output ---
dist/
build/

# --- Node ---
node_modules/

# --- VSCode ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- Logs ---
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# --- OS Files ---
.DS_Store

# --- Tests ---
coverage/
.nyc_output/

# --- IDEs and Editors ---
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# --- Environment Variables ---
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- Temp directories ---
.temp/
.tmp/

# --- Runtime data ---
pids/
*.pid
*.seed
*.pid.lock

# --- Diagnostic reports ---
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Uploaded files ---
uploads/
!uploads/.gitkeep
